USE [master]
GO
/****** Object:  Database [Odontosys]    Script Date: 27/11/2021 14:59:25 ******/
CREATE DATABASE [Odontosys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Odontosys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Odontosys.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Odontosys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Odontosys_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Odontosys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Odontosys]
GO
/****** Object:  Table [dbo].[INGRESO]    Script Date: 27/11/2021 14:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INGRESO](
	[IngId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PacID] [numeric](18, 0) NULL,
	[IngFecha] [date] NULL,
	[IngNumero] [varchar](15) NULL,
	[IngDocumento] [varchar](15) NULL,
	[IngUsrId] [numeric](18, 0) NULL,
 CONSTRAINT [PK_INGRESO] PRIMARY KEY CLUSTERED 
(
	[IngId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INGRESO_DETALLE]    Script Date: 27/11/2021 14:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGRESO_DETALLE](
	[IngDID] [numeric](18, 0) NULL,
	[IngDProID] [numeric](18, 0) NULL,
	[IngDCantidad] [numeric](18, 0) NULL,
	[IngDPrecioUni] [decimal](18, 0) NULL,
	[IngDIva10] [decimal](18, 0) NULL,
	[IngDiva5] [decimal](18, 0) NULL,
	[IngDTotal] [decimal](18, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 27/11/2021 14:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[pacDocumento] [varchar](50) NOT NULL,
	[pacNombre] [varchar](50) NULL,
	[pacTelefono] [varchar](50) NULL,
	[pacDireccion] [varchar](100) NULL,
	[pacTipPlan] [varchar](50) NULL,
 CONSTRAINT [PK_PACIENTE_1] PRIMARY KEY CLUSTERED 
(
	[pacDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 27/11/2021 14:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[proID] [numeric](18, 0) NOT NULL,
	[proDescripcion] [varchar](100) NULL,
	[proPrecio] [numeric](18, 0) NULL,
	[proTipo] [char](10) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[proID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 27/11/2021 14:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[pro_ruc] [varchar](15) NOT NULL,
	[pro_nombre] [varchar](60) NULL,
	[pro_direccion] [varchar](100) NULL,
	[pro_telefono] [varchar](30) NULL,
	[pro_correo] [varchar](40) NULL,
	[pro_tipo] [varchar](30) NULL,
	[pro_estado] [varchar](10) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[pro_ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 27/11/2021 14:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[StkId] [numeric](18, 0) NOT NULL,
	[ProID] [numeric](18, 0) NULL,
	[StkCantidad] [numeric](18, 0) NULL,
 CONSTRAINT [PK_STOCK] PRIMARY KEY CLUSTERED 
(
	[StkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPOPLAN]    Script Date: 27/11/2021 14:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOPLAN](
	[tpID] [varchar](50) NOT NULL,
	[tpDescripcion] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 27/11/2021 14:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[usrID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[usrNombre] [varchar](50) NULL,
	[usrMail] [varchar](50) NULL,
	[usrPass] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[usrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[INGRESO]  WITH CHECK ADD  CONSTRAINT [FK_INGRESO_USUARIO] FOREIGN KEY([IngUsrId])
REFERENCES [dbo].[USUARIO] ([usrID])
GO
ALTER TABLE [dbo].[INGRESO] CHECK CONSTRAINT [FK_INGRESO_USUARIO]
GO
ALTER TABLE [dbo].[INGRESO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_INGRESO_DETALLE_INGRESO] FOREIGN KEY([IngDID])
REFERENCES [dbo].[INGRESO] ([IngId])
GO
ALTER TABLE [dbo].[INGRESO_DETALLE] CHECK CONSTRAINT [FK_INGRESO_DETALLE_INGRESO]
GO
ALTER TABLE [dbo].[INGRESO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_INGRESO_DETALLE_PRODUCTO] FOREIGN KEY([IngDProID])
REFERENCES [dbo].[PRODUCTO] ([proID])
GO
ALTER TABLE [dbo].[INGRESO_DETALLE] CHECK CONSTRAINT [FK_INGRESO_DETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_PRODUCTO] FOREIGN KEY([ProID])
REFERENCES [dbo].[PRODUCTO] ([proID])
GO
ALTER TABLE [dbo].[STOCK] CHECK CONSTRAINT [FK_STOCK_PRODUCTO]
GO
USE [master]
GO
