<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">

    <title>OdontosSystem</title>
</head>

<body class="bgd1">
<div>
    <nav id="menu">
        <ul>
            <li><a href="#">Registro</a>
                <ul>
                    <li><a href="#">Ventas</a></li>
                    <li><a href="#">Pendientes</a></li>
                </ul>

            </li>

            <li><a href="#">Operaciones</a>
                <!--Sub menu-->
                <ul>
                <!--id="cliente" onclick="cargarCliente()"-->
                    <li ><a href="main/paciente">Pacientes</a></li>
                    <li><a href="#">Proveedores</a></li>
                    <li><a href="#">Consultas</a></li>
                </ul>
            </li>
            <li><a href="#">Mantenimiento</a>
            <!--Sub menu-->
            <ul>
                <li><a>Productos</a></li>
                <li><a>Tipo de Plan</a></li>
            </ul>
            </li>
            <li><a href="login" id="salir">Salir</a></li>
        </ul>
    </nav>
</div>
<div class="clearfix"></div>
<div id="msg" class="mensajitos">
            <div id="mensaje" class="card">
                <div class="card-header" style="background-color: #bcdcc3;">
                    <h3>Mensaje</h3>
                </div>
                <div class="card-body">
                    <p id="textMng" style="font-size: 18px;">REGISTRO GRABADO</p>
                </div>
                <div id="botones">
                </div>
            </div>
        </div>

<script></script>
</body>

</html>